<app-header ></app-header>

<div class="aboutContainer">
    <div class="blurAboutContainer pb-5">
        <div class="container text-center">
            <div class="row">
                <div class="col pt-4">
                    <h1 class="fw-bolder">ABOUT</h1>
                    <p class="aboutPara pt-4">Welcome to Books hub, the ultimate destination for readers and writers alike! Our platform is
                        designed to empower authors to publish their works and share them with a global audience, while
                        giving readers free access to a wide range of books across various genres. Whether you're an
                        established author looking to share your next masterpiece or a budding writer eager to publish
                        your first book, Books hub provides the tools and community to bring your stories to life.
                    </p>
                    <br>
                    <p class="aboutPara">
                        For readers, this is your chance to discover hidden gems, explore fresh perspectives, and
                        download books from authors around the world, all at no cost. Dive into a rich library of
                        fiction, non-fiction, poetry, and more – all created and shared by our vibrant user community.
                        Join us today and be a part of a growing online book store where creativity, knowledge, and
                        stories are celebrated and shared freely.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>