<app-header></app-header>

<div class="publishContainer">
    <div class="blurPublishContainer pb-5">
        <div class="container text-center">
            <h3 class="pt-5 mb-4 fw-bold fs-2">ENTER BOOK DETAILS</h3>
            <div class="row">
                <div class="col d-flex justify-content-center mt-4">
                    <form (ngSubmit)="addBook()"  [formGroup]="addForm" style="width: 60%;">
                        <!-- image -->
                        <div class="mb-4 inputDivs">
                            <label class="inputLabel">
                                <input (change)="onImgChange($event)" formControlName="bookImg" name="bookImage" type="file" style="display: none;">
                                <img width="36%" height="275px" [src]="image" alt="Image">
                            </label>
                        </div>
                        <div *ngIf="addForm.get('bookImg')?.errors && addForm.get('bookImg')?.touched" class="fw-bolder text-danger mb-3">*Invalid Image</div>
                        <!-- book name -->
                        <div class="mb-3 inputDivs">
                            <label for="exampleInputBookName" class="form-label inputLabel">Book Name*</label>
                            <input formControlName="bookName" name="bookName" type="text" class="form-control " id="exampleInputBookName">
                        </div>
                        <div *ngIf="addForm.get('bookName')?.errors && addForm.get('bookName')?.touched" class="fw-bolder text-danger mb-3">*Invalid Name</div>
                        <!-- category -->
                        <div class="mb-3 inputDivs">
                            <label for="category" class="inputLabel">Category*</label>
                            <select formControlName="bookCategory" name="bookCategory" class="form-select" aria-label="Default select example" id="category">
                                <option selected disabled>Select category of book</option>
                                <option value="1">Fiction</option>
                                <option value="2">Non-Fiction</option>
                                <option value="3">Poetry</option>
                                <option value="4">Children’s Books</option>
                                <option value="5">Educational & Academic</option>
                                <option value="6">Short Stories</option>
                            </select>
                        </div>
                        <div *ngIf="addForm.get('bookCategory')?.errors && addForm.get('bookCategory')?.touched" class="fw-bolder text-danger mb-3">*Invalid Category</div>
                        <!-- file -->
                        <div class="mb-4 inputDivs">
                            <label class="inputLabel">Upload book*</label>
                            <input (change)="onFileChange($event)" name="bookFile" formControlName="bookFile" type="file">
                        </div>
                        <div *ngIf="addForm.get('bookFile')?.errors && addForm.get('bookFile')?.touched" class="fw-bolder text-danger mb-3">*Invalid File</div>
                        <!-- buttons -->
                        <button class="btn btn-warning me-5 mt-5">Cancel</button>
                        <button type="submit" class="btn btn-primary mt-5">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>