<!-- carousel -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active carouselDivs carouselbg1">
            <div class="carouselInnerDivs">
                <p class="carouselPara">Discover Your Next Great Read - Explore a World of Stories at Book Hub! From
                    timeless classics to modern bestsellers, we have the perfect book for every reader.</p>
                <button class="btn btn-warning carouselBttn">VIEW BOOKS</button>
            </div>
        </div>
        <div class="carousel-item carouselDivs carouselbg2">
            <div class="carouselInnerDivs">
                <p class="carouselPara">Discover Your Next Great Read - Explore a World of Stories at Book Hub! From
                    timeless classics to modern bestsellers, we have the perfect book for every reader.</p>
                <button class="btn btn-warning carouselBttn">VIEW BOOKS</button>
            </div>
        </div>
        <div class="carousel-item carouselDivs carouselbg3">
            <div class="carouselInnerDivs">
                <p class="carouselPara">Discover Your Next Great Read - Explore a World of Stories at Book Hub! From
                    timeless classics to modern bestsellers, we have the perfect book for every reader.</p>
                <button class="btn btn-warning carouselBttn">VIEW BOOKS</button>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--card slider -->
<div class='booksDiv'>
    <div class="booksBlurDiv pt-4">
        <h1 class='mb-5 text-white fw-bold'>EXPLORE OUR BOOKS</h1>
        <marquee>
            <div class='d-flex'>
                <div class='me-5'>
                    <app-books></app-books>
                </div>
                <div class='me-5'>
                    <app-books></app-books>
                </div>
                <div class='me-5'>
                    <app-books></app-books>
                </div>
                <div class='me-5'>
                    <app-books></app-books>
                </div>
            </div>
        </marquee>
        <button class='btn btn-link mt-3'>CLICK HERE TO VIEW MORE BOOKS...</button>
    </div>
</div>