.carouselDivs{
    width: 100%;
    height: 95vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carouselInnerDivs{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carouselbg1{
    background-image: url("../../assets/bg1.avif");
}

.carouselbg2{
    background-image: url("../../assets/bg2.avif");
}

.carouselbg3{
    background-image: url("../../assets/bg3.avif");
}

.carouselPara{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: ui-monospace;
    margin-bottom: 50px;
}

.carouselBttn{
    color: #fff;
    font-weight: 600;
}

.booksDiv{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url("../../assets/bg4.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.booksBlurDiv{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .marquee-content {
    display: inline-flex;
    animation: scroll 10s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  